html {
		background-color: #343434;
}
main {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	text-align: center;
	background-color: white;
}

div {
	padding: 10px;
}

.results, .quiz {
	border: 1px solid gray;
}

.hidden {
	display: none;
}

.question-label {
	margin-bottom: 10px ;
}


form>div {
	text-align: left;	
}

label.answer{
	display: block;
	text-align: left;
	padding: 20px;
}

button {
	height: 30px;
}

.progress {
	margin-top: 10px;
}

span.answer {
	padding: 10px;
}

.correct {
	background-color: rgba(0, 120, 0, 1);
}

.wrong {
	background-color: #D50000;
}

@media (hover:hover) {
	button {
		height: 25px;
	}
	
	label.answer{
		padding: 10px;
	}
	
}
